@import "tailwindcss";

:root {
  /* Primary Colors */
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  /* Fonts  */
  --font-young-serif: "Young Serif", serif;
  --font-outfit: "Outfit", sans-serif;
}

@theme inline {
  --color-primary: var(--nutmeg);
  --color-accent: var(--dark-raspberry);
  --color-rose-white: var(--rose-white);
  --color-eggshell: var(--eggshell);
  --color-light-grey: var(--light-grey);
  --color-wenge-brown: var(--wenge-brown);
  --color-dark-charcoal: var(--dark-charcoal);
}

.youngSerif {
  font-family: var(--font-young-serif);
  font-weight: 400;
}

.outfit {
  font-family: var(--font-outfit);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
